:root {
  --line-height: 1.5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
